<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Meadowlark Travel</title>
</head>
<body>
    <header>
        <img src="images/huilive_icon.png" alt="huilive icon">
    </header>
    {{{ body }}}
</body>
</html>