<h1>User Login:</h1>

<form action="/users/verifyUser" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" value="" placeholder="Please enter your username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="pwd" id="password" value="" placeholder="Please enter your password">
    </div>
    <div>
        <input type="submit" id="submitBtn" value="Submit">
    </div>
</form>